/* Eléments principaux de la page */

  html{
      font-size: 100%;
  } 

body{
    margin: 0;
    padding: 0;
    

    h2,h3,p,li{
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }
    h2{
        font-size: 1.5em;
        font-weight: bolder;
        font-family: raleway;
        
    }
    h3 {
        font-size: 1.0em;
    }
    p{
        font-size: 0.875em;
    }
    
}
.logo{
    h1{
        font-family: 'Shrikhand', cursive;
                
    }
    img{
        width:200px;
        height: auto;
          
    }
   text-align: center;
   height: 50px;
   background-color:#ffffff;
}


/* Header */
.searchbox{
    max-width: 100%;
}



figure img{
    max-width: 100%;
    height: auto;
}

input.searchbox{
    border: none;
    background-color: transparent;
    

    &::placeholder {  
        font-size: 14px;
        font-weight: bolder;
        font-family: raleway;
        color: black;
        
        
}
}


.searchicon{
    color: black;
    font-size: 16px;
      
    
}


#localisation{
   
    height:50px ;
    width:100% ;
    background-color: #eaeaea;
    box-shadow: inset 0 0 5px #cecece;
    -moz-box-shadow:    inset 0 0 5px #cecece;
    -webkit-box-shadow: inset 0 0 5px #cecece;   
}

#localisation-input-container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#proposition-de-valeur{
    padding-top: 15px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

button{
background:    #d864da;
background:    linear-gradient(#d864da, #9871b3);
border-radius: 50px;
padding:       15px;
color:         #ffffff;
display:       inline-block;
text-align:    center;
font-family: raleway;
font-size: 16px;
border: none;
box-shadow: 0px 7px 7px 0px #cecece;
min-width: 250px;
}


#restaurants{
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;

   
}
figure{
   background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 7px 7px 0px #cecece;
    position: relative;

    img {
        border-top-left-radius: 10px;
        border-top-right-radius:10px ;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        max-height: 350px;
    }
}

figcaption{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: space-between;
}

.description-restaurant{
    width: 95%;
    position: relative;
    padding-left: 15px;
   
}
.like-restaurant{
    width: 5%;
   .fa-heart-o{
       vertical-align: middle;
       color: black;
       font-size: 25px;
       position: absolute;
       bottom: 35px;
       right: 20px;
   }
}

.texte-description-restaurant{
    line-height: 10px;
    
    p{
        text-align: justify;
    }
}

.marque-nouveaute{

        border: 1px solid #99e2d0;
        width: fit-content;
        padding: 5px;
        background-color: #99e2d0;
        color: #008766;
        position: absolute;
        position: absolute;
        top: 20px;
        right: 16px;
        font-weight: bolder;
    
    
}

#fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding-bottom: 25px;
    flex-wrap: wrap;
    max-width: 100%;
}


.menu-fonctionnement {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    
  }
  .li-menu-fonctionnement-un,.li-menu-fonctionnement-deux,.li-menu-fonctionnement-trois {
    padding-left: 1.0em;
    display: inline-block;
    margin: 0.3em;
    -webkit-box-shadow: inset -1px 3px 8px 5px #f6f6f6, 2px 5px 16px 0px #e6e6e6, 50px 50px 50px 50px rgba(246,246,246,0.06); 
box-shadow: inset -1px 3px 8px 5px #f6f6f6, 2px 5px 16px 0px #e6e6e6, 50px 50px 50px 50px rgba(246,246,246,0.06);
    background-color: #f0eef3;
    padding: 25px;
    border-radius: 30px;
    width: 100%;
    position: relative;
   
}
        
 
   .li-menu-fonctionnement-un::before {
    content: "\f3cd"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
      
    
}
  

  .li-menu-fonctionnement-deux::before{
    content: "\f03a"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
    
  }

  .li-menu-fonctionnement-trois::before{
    content: "\f54e"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
  }

     
  
  
   .chiffre-item {
    margin: 1em 0;
    border-radius:50%;
    background:#d864da;
    height:30px;
    width:30px;
    text-align:center;
    padding-top:5px;
    color: white;
    position: absolute;
    top: 1px;
    left: -13px;
}
   



footer{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

footer,.footer_column,.titre-logo-footer,.logo-footer{
    background-color:#353535 ;
    
}

.titre-logo-footer{
    font-family: Shrikhand;
    font-weight: bolder;
    font-size: 1.3em;
    padding-left: 40px;
    text-align: left;
}

.titre-logo-footer,.cta-footer-1,.cta-footer-2,.cta-footer-3, .cta-footer-4 {
    
    color: #ffffff;
    text-decoration:none;
    
}

.cta-footer-1,.cta-footer-2,.cta-footer-3, .cta-footer-4{
    color: #ffffff;
    font-family: raleway;
    text-decoration: none;
}

.footer_links{
    list-style-type: none;
    padding-bottom: 45px;
    
    li{
        text-align: left;
    }
}

.cta-footer-2::before{
    content: "\f4c4"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
}

.cta-footer-1::before{
    content: "\f2e7"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
}

@media only screen and (min-device-width : 280px){
    

        .chiffre-item{
            height: 18px;
            width: 22px;
            padding-bottom: 5px;
            left: -11px;
            top: -5px;
        }


    

    .li-menu-fonctionnement-un,.li-menu-fonctionnement-deux,.li-menu-fonctionnement-trois{
        width: 220px;
        padding:15px;
    }

}

/* Style page 1 */


.body-page1{

    h2 {
        text-align: left;
    }
}

.image-page-menu{

   
        max-width: 100%;
        object-fit: cover;
        width: 100%;
       

   
        
    
}

.banner-page-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: space-between;
}

#menus{
    background-color: #f6f6f6;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding-bottom: 40px;  
}
.titre-restaurant-menus{
    font-family: Shrikhand;
    font-size: 2.0em;
    width: 95%;
    position: relative;

}
.description-restaurant-presentation-menu{
    
    padding-left: 15px;
    bottom: 40px;
    background-color:white;
    border-radius: 30px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .fa-heart-o{
        position: absolute;
        right: 20px;
        top: 45px;
        font-weight: normal;
        font-size: 2.0em;
    }
    
}

.titre-type-repas{
    padding-left: 40px;
    font-weight: normal;

    &:hover{
        
  
            border-bottom:solid 2px #99e2d0;
            color:#99e2d0;
    }
}

#conteneur-restaurants{

    figure{
        position: relative;
        
    }
}
.description-menus{
    width: 95%;
    padding-left: 15px;
    max-width: 100%;
}

.texte-prix{
    font-size: 1.0em;
    font-weight: normal;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.texte-description-menus{
    padding: 10px 10px 10px 0px;
    h3,p{
        text-align: left;
        margin: 0px;
    }
    br {
        display: none;
    }
    p{
        font-size: 0.8em;
    }
    
}