/* Eléments principaux de la page */

  html{
      font-size: 100%;
  } 

body{
   
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    width: 100%;
   
    

    h2,h3,p,li{
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }
    h2{
        font-size: 1.5em;
        font-weight: bolder;
        font-family: raleway;
        width: 100%;
        
    }
    h3 {
        font-size: 1.0em;
    }
    p{
        font-size: 0.875em;
    }
    
}
.logo{
    h1{
        font-family: 'Shrikhand', cursive;
                
    }
    img{
        width:200px;
        height: auto;
          
    }
   text-align: center;
   height: 50px;
   background-color:#ffffff;
}


/* Header */
.searchbox{
    max-width: 100%;
}



.bloc img{
    max-width: 100%;
    height: auto;
}

input.searchbox{
    border: none;
    background-color: transparent;
    

    &::placeholder {  
        font-size: 14px;
        font-weight: bolder;
        font-family: raleway;
        color: black;
        
        
}
}


.searchicon{
    color: black;
    font-size: 16px;
      
    
}


#localisation{
   
    height:50px ;
    width:100% ;
    background-color: #eaeaea;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#localisation-input-container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#proposition-de-valeur{
    padding-top: 15px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    
}

button{
background:    #d864da;
background:    linear-gradient(#d864da, #9871b3);
border-radius: 50px;
height:       60px;
color:         #ffffff;
display:       inline-block;
text-align:    center;
font-family: raleway;
font-size: 16px;
border: none;
box-shadow: 0px 7px 7px 0px #cecece;
min-width: 250px;


}
button:hover{
filter: brightness(1.2);
box-shadow: 0px 10px 10px 0px #686666;

}


#restaurants{
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
   flex-wrap: wrap;
    padding-bottom: 40px;

   
}
.bloc{
   background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 7px 7px 0px #cecece;
    position: relative;

    img {
        border-top-left-radius: 10px;
        border-top-right-radius:10px ;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        max-height: 350px;
    }
}

.description-restaurant{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    width: 95%;
    position: relative;
    padding-left: 15px;
   
}
.like-restaurant{
    width: 5%;
   .fa-heart-o{
       vertical-align: middle;
       color:black;
       font-size: 25px;
       position: absolute;
       bottom: 35px;
       right: 20px;
      
   }

 }

 .fa-heart{
    
    -webkit-background-clip: text;
    color: transparent;
    background-image:linear-gradient(#FF79DA, #9356DC);
    font-size: 25px;
    position: absolute;
    bottom: 35px;
    right: 20px;
    opacity: 0;
   
 
 }

 .like-restaurant:hover > .fa-heart  {
   
    animation:remplissage .5s linear 100ms 1 forwards;
}



  
 @keyframes remplissage {
    0% {
       opacity: 0; }
          
    100% {
        opacity: 1;
}
}


.texte-description-restaurant{
    line-height: 10px;
    
    p{
        text-align: justify;
    }
}

.marque-nouveaute{

        border: 1px solid transparent;
        width: fit-content;
        padding: 5px;
        background-color: #99e2d0;
        color: #008766;
        position: absolute;
        position: absolute;
        top: 20px;
        right: 16px;
        font-weight: bolder;
    
    
}

#fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding-bottom: 25px;
    flex-wrap: wrap;
    max-width: 100%;
}


.menu-fonctionnement {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    
  }
  .li-menu-fonctionnement-un,.li-menu-fonctionnement-deux,.li-menu-fonctionnement-trois {
    padding-left: 1.0em;
    display: inline-block;
    margin: 0.3em;
    -webkit-box-shadow: inset -1px 3px 8px 5px #f6f6f6, 2px 5px 16px 0px #e6e6e6, 50px 50px 50px 50px rgba(246,246,246,0.06); 
box-shadow: inset -1px 3px 8px 5px #f6f6f6, 2px 5px 16px 0px #e6e6e6, 50px 50px 50px 50px rgba(246,246,246,0.06);
    background-color: #f0eef3;
    padding: 25px;
    border-radius: 30px;
    
    position: relative;

    &:hover{
        
        background-color: #ebe0ec;
        box-shadow: 0px 10px 10px 0px #686666;
    }
   
}
        
 
   .li-menu-fonctionnement-un::before {
    content: "\f3cd"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
      
    
}
  

  .li-menu-fonctionnement-deux::before{
    content: "\f03a"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
    
  }

  .li-menu-fonctionnement-trois::before{
    content: "\f54e"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
  }

     
  
  
   .chiffre-item {
    margin: 1em 0;
    border-radius:50%;
    background:#d864da;
    height:30px;
    width:30px;
    text-align:center;
    padding-top:5px;
    color: white;
    position: absolute;
    top: 1px;
    left: -13px;
}
   



footer{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

footer,.footer_column,.titre-logo-footer,.logo-footer{
    background-color:#353535 ;
    
}

.titre-logo-footer{
    font-family: Shrikhand;
    font-weight: bolder;
    font-size: 1.3em;
    padding-left: 40px;
    text-align: left;
}

.titre-logo-footer,.cta-footer-1,.cta-footer-2,.cta-footer-3, .cta-footer-4 {
    
    color: #ffffff;
    text-decoration:none;
    
}

.cta-footer-1,.cta-footer-2,.cta-footer-3, .cta-footer-4{
    color: #ffffff;
    font-family: raleway;
    text-decoration: none;
}

.footer_links{
    list-style-type: none;
    padding-bottom: 45px;
    
    li{
        text-align: left;
    }
}

.cta-footer-2::before{
    content: "\f4c4"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
}

.cta-footer-1::before{
    content: "\f2e7"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    width: 2.0em; /* same as padding-left set on li */
}


    

        .chiffre-item{
            height: 18px;
            width: 22px;
            padding-bottom: 5px;
            left: -11px;
            top: -5px;
        }


    

    .li-menu-fonctionnement-un,.li-menu-fonctionnement-deux,.li-menu-fonctionnement-trois{
        width: 220px;
        padding:15px;
    }



/* Style page 1 */


.body-page1{

    h2 {
        text-align: left;
    }
}
#bloc-page{
    header{
        position: relative;
    }
}
.image-page-menu{

   
        max-width: 100%;
        object-fit: cover;
        width: 100%;
       

   
        
    
}
.logo-page-restaurant{

    h1{
        font-size: 2.0em;
        font-family: shrikhand;
        text-align: center;
     
        
    }
   

    a{
        text-decoration: none;
        color: black;
    }
    
}


.banner-page-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    background-color: #f6f6f6;
}

#menus{
    background-color: #f6f6f6;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding-bottom: 40px;  
}
.titre-restaurant-menus{
    font-family: Shrikhand;
    font-size: 1.9em;
    width: 90%;
    position: relative;

}
.description-restaurant-presentation-menu{
    
    padding-left: 15px;
    bottom: 40px;
    background-color: #f6f6f6;
    border-radius: 30px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .fa-heart-o{
    position: absolute;
    right: 20px;
    top: 45px;
    font-weight: normal;
    font-size: 1.9em;
    
     }

   
}

.hidden{
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 1.9em;
}




.titre-type-repas{
    padding-left: 40px;
    font-weight: normal;
    position: relative;

    &:after{
        
  
    content: '';
    position: absolute;
    width: 15%;
    display: block;
    height: 3px;
    background-color:#99e2d0;
    bottom: -5px;
    max-width: 50px;
    }
}

#conteneur-restaurants{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .bloc{
        position: relative;
        margin:10px;
        
        max-width: 820px;
        min-width: 220px;
        height: auto;
        
    }
}

.conteneur-menus{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    

    .bloc{
        position: relative;
        margin:10px;
        width: 100%;
        max-width: 460px; 
        min-width: 260px;
        overflow: hidden;
        
       &:active{
           
           .checkright{
               animation: apparition-check 1s forwards;
              
           }

           .texte-prix{
               animation: retrecissement 1s forwards;
           }

           .fa-check-circle{
            animation: rotation-check 1s forwards;
           }

           .texte-description-menus h3 {
            text-overflow: ellipsis;
            width: 180px;
            overflow: hidden;
            white-space: nowrap;
        }
        .texte-description-menus p{
            text-overflow: ellipsis;
            width: 120px;
            overflow: hidden;
            white-space: nowrap; 
        }

           
       }
        
        
     
        
    }

}




.description-menus{
    width: 95%;
    padding-left: 15px;
    max-width: 100%;
 
    
    
    
}

.texte-prix{
    font-size: 1.0em;
    font-weight: normal;
    position: absolute;
    bottom: -6px;
    right: 9px;
    
    width: 50px;
    
    
}

.texte-description-menus{
    padding: 10px 10px 10px 0px;
    width: 240px;
    position: relative;
    

        overflow: hidden;
    
    
    h3,p{
        text-align: left;
        margin: 0px;
        
    }
    br {
        display: none;
    }
    p{
        font-size: 0.8em;
    }
    
}

.lien-restaurants{
    text-decoration: none;
    color: black;
}

.fa-arrow-left{
    display: inline-block;
    color: #353535;
    font-size: 1.8em;
    position: absolute;
    left: 9px;
    bottom: 8px;
}

/*Animation spin loader*/

.animloader {
    width: 200px;
    height: 200px;
    border: 20px solid #f3f3f3;
    border-top: 20px solid #FF79DA;
    border-bottom: 20px solid #9356dc;
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
}

/*Positionnement centré spin loader*/

.spinner{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.spinner.hidden{
    animation: disappear 3s linear forwards;
}

@keyframes disappear {
    0%{
        transform: scale(1);
       
    }
    99.9%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes spinner {
    0% {
        transform:rotate(0deg) ;
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Animation apparition progressive des plats */
.bloc{
-webkit-animation: wave 1s linear 100ms forwards;
animation: wave 1s linear 100ms forwards;
opacity: 0;
transition: margin-right 100ms ease-in-out;
margin-right: 0px;

}

@-webkit-keyframes wave {
0% {

opacity: 0;
transform: translateY(35px)   ;

}

100% {
opacity: 1;
transform: translateY(0px)   ;

}
}

@keyframes wave {
0% {
    transform: translateY(35px)   ;
opacity: 0;


}


100% {

opacity: 1;
transform: translateY(0px)  

}
}
/* Les "delays" pour les pages de menus */
.bloc:nth-child(1) {
-webkit-animation-delay: 0s;
animation-delay: 0s;
}

.bloc:nth-child(2) {
-webkit-animation-delay: 0.50s;
animation-delay: 0.50s;
}

.bloc:nth-child(3) {
-webkit-animation-delay:1.0s;
animation-delay:1.0s;
}

.bloc:nth-child(4) {
-webkit-animation-delay: 1.5s;
animation-delay: 1.5s;
}

.bloc:nth-child(5) {
-webkit-animation-delay: 2s;
animation-delay: 2s;
}

.bloc:nth-child(6) {
-webkit-animation-delay: 2.5s;
animation-delay: 2.5s;}

.bloc:nth-child(7) {
    -webkit-animation-delay: 3.0s;
    animation-delay: 3.0s;}

.bloc:nth-child(8) {
        -webkit-animation-delay: 3.5s;
        animation-delay: 3.5s;}

        .bloc:nth-child(9) {
            -webkit-animation-delay: 4.0s;
            animation-delay: 4.0s;}


.checkright{
    position: absolute;
    top: 0;
    bottom: 0px;
    right: -60px;
    width: 60px;
    background:#99e2d0;
    border-radius:10px 10px 10px 10px;
display: flex;
justify-content: center;
align-items: center;


}

    .fa-check-circle{
        color: white;
        font-size: 20px;
        text-align: center;
        
    }

@keyframes apparition-check {
    0%{
      right:-60px;
     
      
    }

    100%{
      right: 0px;
        
    }
    
}

@keyframes retrecissement{
    0%{
        right: 9px;
    }

    100%{
        right:65px;
    }
}

@keyframes rotation-check{
    0% {
        transform:rotate(0deg) ;
    }
    100%{
        transform: rotate(360deg);
    }
}






















