/* Eléments principaux de la page */

   
body{
    margin: 0;
    padding: 0;

    h2,h3,p,li{
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }
    h2{
        font-size: 24px;
        font-weight: bolder;
        font-family: raleway;
    }
    
}
.logo{
    h1{
        font-family: 'Shrikhand', cursive;
                
    }
    img{
        width:200px;
        height: auto;
          
    }
   text-align: center;
   height: 50px;
   background-color:#ffffff;
}
#bloc-page{
    max-width: 100%;
    height: auto;
   
   
}

/* Header */
.searchbox{
    max-width: 100%;
}

figure img{
    max-width: 100%;
    height: auto;
}

input{
    height:50px ;
    width:100% ;
    background-color: #eaeaea;
    box-shadow: inset 0 0 5px #cecece;
    -moz-box-shadow:    inset 0 0 5px #cecece;
    -webkit-box-shadow: inset 0 0 5px #cecece;
    border: none;
    

    &::placeholder {  
        text-align: center; 
        font-size: 14px;
        font-weight: bolder;
        font-family: raleway;
        color: black;
    }
}

.searchicon{
    color: black;
    font-size: 16px;
}
#fa-map-marker{
    position:absolute;
    top: 29%;
    left: 35%;
}

#localisation{
    position: relative;
}

#proposition-de-valeur{
    padding-top: 15px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

button{
background:    #d864da;
background:    linear-gradient(#d864da, #9871b3);
border-radius: 50px;
padding:       15px;
color:         #ffffff;
display:       inline-block;
text-align:    center;
font-family: raleway;
font-size: 16px;
border: none;
box-shadow: 0px 7px 7px 0px #cecece;
}


#restaurants{
    background-color: #f6f6f6;
}
figure{
   background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 7px 7px 0px #cecece;
    position: relative;

    img {
        border-top-left-radius: 10px;
        border-top-right-radius:10px ;
        max-width: 100%;
    }
}

figcaption{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: space-between;
}

.description-restaurant{
    width: 95%;
    position: relative;
    padding-left: 15px;
   
}
.like-restaurant{
    width: 5%;
   .fa-heart-o{
       vertical-align: middle;
       color: black;
       font-size: 25px;
       position: absolute;
       bottom: 35px;
       right: 20px;
   }
}

.texte-description-restaurant{
    line-height: 10px;
    
    p{
        text-align: justify;
    }
}

.marque-nouveaute{

        border: 1px solid #99e2d0;
        width: fit-content;
        padding: 5px;
        background-color: #99e2d0;
        color: #008766;
        position: absolute;
        position: absolute;
        top: 20px;
        right: 16px;
        font-weight: bolder;
    
    
}